#top {
    font-size: 36px;
    color: red;
}

#middle {
    font-size: 24px;
}

#bottom {
    font-size: 12px;
}

.name {
    font-weight: bold;
    font-style: italic;
    text-decoration-line: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

p::selection {
    color: red;
    background-color: yellow;
}

@media (min-width: 500px) {
    img {
    height: 360px;
    }
}

@media (max-width: 499px) {
    img {
    height: 120px;
    }
}